$app_background: #ece8dd;

// Light mode colors
$light_mode_background: #ece8dd;
$light_mode_primary: #579bb1;
$light_mode_secondary: #e1d7c6;
$light_mode_light: #f8f4ea;
$light_mode_grey: #575757;

// Dark mode colors
$dark_mode_background: #222222;
$dark_mode_primary: #579bb1;
$dark_mode_secondary: #c9baaa;
$dark_mode_light: #333333;
$dark_mode_grey: #aeaeae;

// Black and white colors
$color-black: #000000;
$color-white: #ffffff;

// Media Queries
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$col-sm: 340px;
$col-md: 520px;
$col-lg: 760px;
$col-xl: 940px;

$nav-col-sm: 540px;
$nav-col-md: 720px;
$nav-col-lg: 960px;
$nav-col-xl: 1140px;
